<div class="container mt-4">

    <div class="row">
        <div class="col-sm-6 mb-3" *ngFor="let item of data">
            <div class="card hover-overlay">
                <div class="card-body">
                    <h5 class="card-title text-uppercase text-muted">{{item.title}}</h5>
                    <p class="card-text text-muted text-capitalized">{{item.desc}}</p>
                </div>
                <div class="description over-lay p-4">
                    <!-- <div class="desc">
                        {{item.desc}}
                    </div> -->
                    <button class="btn btn-primary text-capitalized float-end" (click)="onRedirect(item.key)">
                        <i class="fa fa-arrow-right"></i>
                        Thực hiện
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>